.sidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 10px;
   margin: 20px;
  width: 15%;
  background-color: #6a66c5; /* Matches homepage background */
  color: white;
  border-radius: 15px;
  height: 100vh;
}

.sidebar-menu-title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.sidebar-menu-items-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.sidebar-item {
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

.sidebar-item:hover {
  color: #e0e0e0; 
  background-color: #5652a3;
  padding: 8px;
  border-radius: 12px;
  font-weight: bolder;
}